.active_chat li{
    border: 1px solid #6490b1;
}
.im_dialogs_col_wrap {
    float: left;
    width: 27%;
    border-right: 2px solid #E9EBED;
    border-left: 2px solid #E9EBED;
    padding-bottom: 10px;
}
.im_groups_col_wrap{
    float: left;
    width: 13%;
}
.im_dialogs_panel {
    padding: 12px;
    position: relative;
}
.im_dialogs_search {
    position: relative;
}
/* input */
input[type=search] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    background-image: none;
    /* -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
}
.im_dialogs_search_field {
    font-size: 12px;
    line-height: normal;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
    padding: 6px 26px 6px 30px;
    margin: 0;
    background-color: #F2F2F2;
    /* background-image: url(../img/icons/IconsetW.png); */
    background-repeat: no-repeat;
    background-position: -6px -205px;
}
/* list */
.im_dialogs_col {
    margin-right: -7px;
}
.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.im_dialogs_scrollable_wrap {
    padding: 0 7px 0 0;
    -webkit-transform: translateZ(0);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
}
.im_dialogs_scrollable_wrap {
    outline: 0!important;
}
.nano-content {
    outline: 0!important;
}
/* Список */
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.im_dialogs_scrollable_wrap .im_dialog_wrap {
    margin-top: 0;
}
.nav-stacked>li+li {
    margin-top: 2px;
    margin-left: 0;
}
.nav-stacked>li {
    float: none;
}
.nav>li {
    position: relative;
    display: block;
}
.im_dialogs_scrollable_wrap .active a.im_dialog {
    margin-right: -2px;
    padding-right: 18px;
}
.im_dialogs_scrollable_wrap .active a.im_dialog:hover, .im_dialogs_scrollable_wrap .active a.im_dialog_selected {
    background-color: #6490b1;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #5d8db3;
}
.im_dialogs_scrollable_wrap a.im_dialog {
    padding: 7px 16px;
}
.im_dialogs_scrollable_wrap a.im_dialog {
    clear: both;
    overflow: hidden;
    color: #000;
    padding: 8px 9px;
    border-radius: 0;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.pull-right {
    float: right!important;
}
.text-right {
    text-align: right;
}
.active .im_dialog_date, .active a.im_dialog:hover .im_dialog_date, .active a.im_dialog_selected .im_dialog_date {
    color: #fff;
}
.active .im_dialog_date, .active a.im_dialog:hover .im_dialog_date, .active a.im_dialog_selected .im_dialog_date {
    color: #b8d1e4;
}
.im_dialog_date {
    color: #b3b3b3;
    font-size: .85em;
}
/* Счетчик непрочитаных сообщений */
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #999;
    border-radius: 10px;
}
.im_dialog_badge {
    background: #64c270;
    font-size: 11px;
    padding: 5px;
    border-radius: 11px;
    min-width: 21px;
    text-align: center;
    margin-top: 4px;
}
/* Аватарка */
div.im_dialog_photo {
    margin-right: 15px;
}
.pull-left {
    float: left!important;
}
    /* Без фотки */
.im_dialog_photo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
}
.peer_initials {
    display: block;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.user_bgcolor_5 {
    background: #e57979;
}
/* Имя и последнее сообщение */
.im_dialog_message {
    margin-top: 5px;
}
.im_dialog_peer {
    margin-top: 3px;
    margin-bottom: 3px;
}
.im_dialog_message, .im_dialog_peer {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.im_dialog_peer {
    color: #222;
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 2px;
}

a.im_dialog .im_short_message_text {
    color: grey;
}
/* Скрол */
.im_dialogs_col .nano > .nano-pane {
    background: rgba(0, 0, 0, 0);
    width: 12px;
    right: 0px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
    /* visibility: visible\9; */
    opacity: 0.99;
}
.nano > .nano-pane {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 10px;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: hidden\9;
    opacity: 0.01;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.right_item{
    margin-bottom: 12px;
}
.group_item{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border-bottom: 1px solid;
    position: relative;
}

    .create_group {
        width: 90%;
        float: left;
    }
    .group_logo{
        font-size: 16px;
        padding: 11px 0 10px 10px;
    }
    .group-contextmenu{
        background: #fff;
    border: 1px solid lightgray;
    padding: 13px;
    border-radius: 3px;
    position: absolute;
    top: 2px;
    left: 117px;
    font-size: 14px;
    line-height: 19px;
    width: 200px;
    display: none;
    z-index: 1;
    }
    .group-contextmenu-item{
        margin-bottom: 7px;
    }