.im_history_col_wrap {
    float: left;
    width: 60%;
}
.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.im_history_empty, .im_history_not_selected {
    /* visibility: hidden; */
    text-align: center;
    color: #999;
    font-size: 16px;
    line-height: 18px;
    padding: 1px 50px;
    margin: 0;
}
.im_history_scrollable_wrap {
    outline: 0!important;
    position: relative;
}
.im_history_wrap{
    height: 370px !important;
    width: 500px !important;
    margin: 0 auto;
}
/* Лист сообщений */
.im_history {
    padding: 0;
    position: relative;
}
.textarea{
    height: 100px;
    width: 470px;
}
.im_message_body{
    margin-bottom: 20px;
}
.historyMessage{
    margin-top: 5px;
}
.message_name{
    color: #3a6d99;
    font-weight: 700;
}