.im_history_col_wrap {
    float: left;
    width: 69%;
}
.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.im_history_empty, .im_history_not_selected {
    /* visibility: hidden; */
    text-align: center;
    color: #999;
    font-size: 16px;
    line-height: 18px;
    padding: 1px 50px;
    margin: 0;
}
.im_history_scrollable_wrap {
    outline: 0!important;
    position: relative;
}
/* Лист сообщений */
.im_history {
    padding: 0;
    position: relative;
}