.im_page_wrap {
    background: #fff;
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 1px 0 #dfe5ec;
    -moz-box-shadow: 0px 1px 0 #dfe5ec;
    box-shadow: 0px 1px 0 #dfe5ec;
    border-radius: 0 0 3px 3px;
    border-left: 1px solid #dfe5ec;
    border-right: 1px solid #dfe5ec;
    border-bottom: 1px solid #d2dbe3;
    overflow: hidden;
}
@media (max-height: 600px), (max-width: 1010px){
    .im_page_wrap {
        border-bottom: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}
/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */
.button {
    /* font-size: 1em;
    padding: 10px;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    cursor: pointer;
    transition: all 0.3s ease-out; */
    text-decoration: none;
    color: #333;
  }
  /* .button:hover {
    background: #06D85F;
  } */
  
  .add_users_form, .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay_target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  .user_list{
    list-style: none;
    padding: 0;
  }
  .user_item{
    cursor: pointer;
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid lightgrey;
  }
  .chosen_item{
    background-color: blueviolet;
  }
  .role_list{
    list-style: none;
    max-width: 212px;
  }
  .role_item{
    position: relative;
  }
  .role_item_name{
    border-bottom: 1px solid lightgray;
  }
  .react-contextmenu{
    background: #fff;
    border: 1px solid lightgray;
    padding: 13px;
    border-radius: 3px;
    
    position: absolute;
    top: 2px;
    left: 217px;
    width: 100%;
    display: none;
  }
  .react-contextmenu-item{
    margin-bottom: 7px;
    cursor: pointer;
  }
  .open_menu{
    display: block !important;
  }
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
